
.calculator-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

button {
  background-color: rgb(0, 4, 26);
  border: 1px;
  font-size: 20px;
  border:1px solid rgb(255, 255, 255);
  color: white;  
}

button:hover {
  background-color: rgb(0, 4, 20);
  border: 1px;
  font-size: 20px;
  border:1px solid rgb(255, 255, 255);  
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, black, rgb(3, 0, 38))
}

.double-size {
  grid-column: span 2;
}

.display{
  color: rgb(5, 6, 84);
  background-color: rgb(215, 215, 236);
  grid-column: 1 / -1;
  font-size: 50px;
}